In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from lxml import html

PHONE_XPATH = "/html/body/div/div[2]/div/div[2]/div/div[1]/div/dl/dd[3]"
DEPENDENCIA_XPATH = "/html/body/div/div[2]/div/div[2]/div/div[1]/div/dl/dd[4]"
NIVELES_XPATH = "/html/body/div/div[2]/div/div[2]/div/div[1]/div/dl/dd[5]"
TURNO_XPATH = "/html/body/div/div[2]/div/div[2]/div/div[1]/div/dl/dd[6]"

TABLES_XPATH = "//*[@id='data-table-sexo']"

In [53]:
df = pd.read_csv("completado.csv")

In [22]:
def get_data(url):
    response = requests.get(url)
    # parse using lxml for XPath support
    doc = html.fromstring(response.text)

    # get xpath's info using lxml's xpath method
    phone = doc.xpath(PHONE_XPATH)[0].text_content().strip().replace("S/N", "")
    dependencia = doc.xpath(DEPENDENCIA_XPATH)[0].text_content().strip()
    niveles = doc.xpath(NIVELES_XPATH)[0].text_content().strip()
    turno = doc.xpath(TURNO_XPATH)[0].text_content().strip()
    # print info
    return phone, dependencia, niveles, turno

In [68]:
def extract_table(table):
    # Extraer los encabezados de la tabla
    headers = [cell.text_content().strip() for cell in table.xpath(".//thead/tr/th")]
    # Inicializar el diccionario con listas vacías para cada encabezado
    data = {header: [] for header in headers}
    # Extraer las filas del cuerpo de la tabla
    body_rows = table.xpath(".//tbody/tr")
    for row in body_rows:
        cells = row.xpath(".//td")
        for header, cell in zip(headers, cells):
            data[header].append(cell.text_content().strip())
    return data

In [66]:
def get_stats(url):
    response = requests.get(url)
    # parse using lxml for XPath support
    doc = html.fromstring(response.text)

    # get xpath's info using lxml's xpath method
    matricula_tabla = extract_table(doc.xpath(TABLES_XPATH)[0])
    promovidos_tabla = extract_table(doc.xpath(TABLES_XPATH)[1])
    reprobados_tabla = extract_table(doc.xpath(TABLES_XPATH)[2])
    abandono_tabla = extract_table(doc.xpath(TABLES_XPATH)[3])

    return matricula_tabla, promovidos_tabla, reprobados_tabla, abandono_tabla

In [51]:
get_stats("https://seie.minedu.gob.bo/reportes/mapas_unidades_educativas/ficha/ver/80730630")

{'Sexo': None, '2018': ['0', '0', '0'], '2019': ['93', '40', '53'], '2020': ['73', '30', '43'], '2021': ['105', '44', '61'], '2022': ['88', '28', '60'], '2023': ['59', '21', '38']}
{'Sexo': None, '2018': ['0', '0', '0'], '2019': ['71', '32', '39'], '2021': ['93', '41', '52'], '2022': ['60', '16', '44'], '2023': ['37', '12', '25']}
{'Sexo': None, '2017': ['0', '0', '0'], '2018': ['0', '0', '0'], '2019': ['2', '0', '2'], '2022': ['7', '3', '4'], '2023': ['14', '4', '10']}
{'Sexo': None, '2018': ['0', '0', '0'], '2019': ['20', '8', '12'], '2021': ['12', '3', '9'], '2022': ['21', '9', '12'], '2023': ['8', '5', '3']}

In [71]:
new_rows = []
for _, row in df.iterrows():
    url = row["url"]
    matricula_tabla, promovidos_tabla, reprobados_tabla, abandono_tabla = get_stats(url)
    for año in ["2018", "2019", "2020", "2021", "2022", "2023"]:
        row_data = {
            "nombre": row["nombre"].title(),
            "latitude": row["latitude"],
            "longitude": row["longitude"],
            "dependencia": row["dependencia"].lower(),
            "turno": " ".join(x.strip().lower() for x in row["turno"].split("/")),
            "nivel": " ".join(x.strip().lower() for x in row["nivel"].split("/")),
            "foto_url": row["foto_url"],
            "telefono": " ".join(x.strip() for x in row["telefono"].split("/")),
            "url": url,
            "año": año,
            "matricula_total": int(str(matricula_tabla.get(año, [0, 0, 0])[0]).replace(".","")),
            "matricula_mujer": int(str(matricula_tabla.get(año, [0, 0, 0])[1]).replace(".","")),
            "matricula_hombre": int(str(matricula_tabla.get(año, [0, 0, 0])[2]).replace(".","")),
            "promovidos_total": int(str(promovidos_tabla.get(año, [0, 0, 0])[0]).replace(".","")),
            "promovidos_mujer": int(str(promovidos_tabla.get(año, [0, 0, 0])[1]).replace(".","")),
            "promovidos_hombre": int(str(promovidos_tabla.get(año, [0, 0, 0])[2]).replace(".","")),
            "reprobados_total": int(str(reprobados_tabla.get(año, [0, 0, 0])[0]).replace(".","")),
            "reprobados_mujer": int(str(reprobados_tabla.get(año, [0, 0, 0])[1]).replace(".","")),
            "reprobados_hombre": int(str(reprobados_tabla.get(año, [0, 0, 0])[2]).replace(".","")),
            "abandono_total": int(str(abandono_tabla.get(año, [0, 0, 0])[0]).replace(".","")),
            "abandono_mujer": int(str(abandono_tabla.get(año, [0, 0, 0])[1]).replace(".","")),
            "abandono_hombre": int(str(abandono_tabla.get(año, [0, 0, 0])[2]).replace(".","")),
        }
        new_rows.append(row_data)

df_new = pd.DataFrame(new_rows)
df_new.to_csv("final.csv", index=False)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("final.csv")

In [4]:
df["rude"] = df["url"].str.split("/").str[-1]
df["rude"] = df["rude"].str.replace(" ", "")

In [5]:
df_escuelas = df.drop_duplicates(subset=["rude"], keep="last")

In [6]:
from sqlalchemy import create_engine

# Create engine using connection details from docker-compose
engine = create_engine("postgresql://postgres:postgres@localhost:5432/escuelas")
conn = engine.connect()

In [7]:
from sqlalchemy import text


for _, row in df_escuelas.iterrows():
    with engine.begin() as conn:
        sql = text("""
        INSERT INTO escuelas (nombre, latitud, longitud, dependencia, turno, nivel, foto_url, telefono, rude)
        VALUES (:nombre, :latitud, :longitud, :dependencia, :turno, :nivel, :foto_url, :telefono, :rude)
        ON CONFLICT (rude) DO NOTHING
        """)

        data = row.to_dict()
        # Convert the string to an array, so it can be inserted into the array-type column 'nivel'
        data["nivel"] = data["nivel"].split()
        data["turno"] = data["turno"].split()
        data["telefono"] = data["telefono"][:20]
        conn.execute(sql, data)
        conn.commit()

In [8]:
from sqlalchemy import text


for _, row in df.iterrows():
    with engine.begin() as conn:
        sql = text("""
        INSERT INTO matriculacion (rude, anio, matricula_total, matricula_mujer, matricula_hombre, 
                                promovidos_total, promovidos_mujer, promovidos_hombre, 
                                reprobados_total, reprobados_mujer, reprobados_hombre,
                                abandono_total, abandono_mujer, abandono_hombre)
        VALUES (:rude, :año, :matricula_total, :matricula_mujer, :matricula_hombre, 
                :promovidos_total, :promovidos_mujer, :promovidos_hombre, 
                :reprobados_total, :reprobados_mujer, :reprobados_hombre,
                :abandono_total, :abandono_mujer, :abandono_hombre)
        """)
        
        data = row.to_dict()
        data["anio"] = int(data["año"])
        conn.execute(sql, data)
        conn.commit()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre             258 non-null    object
 1   latitud            258 non-null    float64
 2   longitud           258 non-null    float64
 3   dependencia        258 non-null    object
 4   turno              258 non-null    object
 5   nivel              258 non-null    object
 6   foto_url           174 non-null    object
 7   telefono           258 non-null    object
 8   url                258 non-null    object
 9   año                258 non-null    int64
 10  matricula_total    258 non-null    int64
 11  matricula_mujer    258 non-null    int64
 12  matricula_hombre   258 non-null    int64
 13  promovidos_total   258 non-null    int64
 14  promovidos_mujer   258 non-null    int64
 15  promovidos_hombre  258 non-null    int64
 16  reprobados_total   258 non-null    int64
 17  reprobados_mujer   258 non-null    int64
 18  reprobados_hombre  258 non-null    int64
 19  abandono_total     258 non-null    int64
 20  abandono_mujer     258 non-null    int64
 21  abandono_hombre    258 non-null    int64
 22  rude               258 non-null    object
dtypes: float64(2), int64(13), object(8)
memory usage: 46.5+ KB

In [10]:
df_escuelas.to_csv("solo_escuelas.csv")